Repository lksnyder0/molecule_docker_images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: debian_release, debian_systemd-release, debian_base-test, debian_systemd-test

Path conditions:
  debian_release: any of: debian.Dockerfile
  debian_systemd-release: any of: debian_systemd.Dockerfile
  debian_base-test: any of: debian.Dockerfile
  debian_systemd-test: any of: debian_systemd.Dockerfile

Smaller layer
  debian.Dockerfile
Due: debian_release, debian_base-test

Fix for misplaced ;
  debian.Dockerfile
Due: debian_release, debian_base-test

Do a consistent dev name instead
  .gitlab-ci.yml
Due: none

Specify dev
  .gitlab-ci.yml
Due: none

Typo
  .gitlab-ci.yml
Due: none

Target latest dev image
  .gitlab-ci.yml
  debian_systemd.Dockerfile
Due: debian_systemd-release, debian_systemd-test

Target latest dev image for 10 as well.
  .gitlab-ci.yml
Due: none

sytemd should be updated if the base was changed.
  .gitlab-ci.yml
Due: none

Can't start with numbers
  .gitlab-ci.yml
Due: none

Trigger
  debian_systemd.Dockerfile
Due: debian_systemd-release, debian_systemd-test

Add python3
  debian.Dockerfile
Due: debian_release, debian_base-test

Only Py3
  debian.Dockerfile
Due: debian_release, debian_base-test

No recommends
  debian.Dockerfile
Due: debian_release, debian_base-test

Clean up file
  debian_systemd.Dockerfile
Due: debian_systemd-release, debian_systemd-test

Too many &&
  debian_systemd.Dockerfile
Due: debian_systemd-release, debian_systemd-test

Update Readme
  README.md
Due: none

check
  .gitlab-ci.yml
Due: none

not using the regex compare... duh.
  .gitlab-ci.yml
Due: none

No regex
  .gitlab-ci.yml
Due: none

wrong stage
  .gitlab-ci.yml
Due: none

Add test and release pipelines
  .gitlab-ci.yml
Due: none

Add CentOS docker file
  centos/centos.Dockerfile
Due: none

Variables not environment
  .gitlab-ci.yml
Due: none

Adding systemD pipeline
  .gitlab-ci.yml
Due: none

Add centos systemd dockerfile
  centos/centos_systemd.Dockerfile
Due: none

Adding Centos images and example
  README.md
Due: none

Add centos systemd pipeline
  .gitlab-ci.yml
Due: none

Need rsync installed
  centos/centos.Dockerfile
Due: none

Need to update systemd when base changes.
  .gitlab-ci.yml
Due: none

Add rsync to debian
  debian.Dockerfile
Due: debian_release, debian_base-test

Update readme
  README.md
Due: none

Add missing package
  debian.Dockerfile
Due: debian_release, debian_base-test
